/.cask
/.hive-maint
/custom.el
/.cache
/eln-cache
/elpa
/var
/recentf
/places
/init-custom.el
/eln-cache
/auto-save-list
/snippets
/transient
/url/cache
*.elc
*~
.*.lock
/elpa
/elpa-*
/org-clock-save.el
/projects
/history
/env
/etc/borg/autoload
/tree-sitter
/url
/elpaca
/tutorial
/devdocs
.DS_Store
